includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - contexts/

    level: 5

    ignoreErrors:
        - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection.*::transform\(\) expects callable.* given.#'

    excludePaths:
        - ./contexts/*/Tests/*
