includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - contexts/

    level: 5

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
    excludePaths:
        - ./contexts/*/Tests/*
